<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ECommerceDB" connectionString="Data Source=.;Initial Catalog=ECommerceDB;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30" />
		</authentication>

		<authorization>
			<deny users="?"/>
		</authorization>

		<customErrors mode="Off"/>
	</system.web>
</configuration>
